NODE_ENV=production
TZ=UTC
DefaultLocale=en
APIPort=3000
DiscordToken=DISCORD_TOKEN
DiscordIntents=default
LogLevel=info
Database={"alias": {"uri": "DATABASE_URI", "engine": "mongo || redis || native-pg || native-sqlite || [OPTIONAL]", "poolSize": "0 [OPTIONAL]", "maxRetries": "3 [OPTIONAL]" }}
isSharded=true
hotReloadEnabled=false
BotName=MyBot
BotOwnerIds=0000000000000000000,0000000000000000000,0000000000000000000
TokenMasterSecret=long-random-string