NODE_ENV=production
TZ=UTC
DefaultLocale=en
APIPort=3000
DiscordToken=DISCORD_TOKEN
DiscordIntents=default
LogLevel=info
Database={"alias": {"uri": "DATABASE_URI", "engine": "mongo || redis || native-pg || [OPTIONAL]", "poolSize": "0 [OPTIONAL]", "maxRetries": "3 [OPTIONAL]" }}